@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

.outlet-slot {
  /* margin: 10px; */
  width: 100%;
  height: 100%;
}
.navbar {
  background:#941153;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  font-size: 2.5em;
  padding: 4px;
  font-family: 'Satisfy', cursive;
  height: 56px;
 }

#logo-img-id{
  margin-top: .8rem;
  padding-left: 1.4rem;
}